body{
    background-color: gainsboro;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

.title{
    color: #595959;
    font-size: 40px;
    font-weight:900;
    text-decoration: underline;
}

.header{
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10%;
}

.page-link{
    text-decoration: none;
    color: gainsboro;
    background-color: #595959;
    font-size: 30px;
    border-radius: 30px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
}