body{
    background-color: gainsboro;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

.title{
    color: #595959;
    font-size: 40px;
    font-weight:900;
    text-decoration: underline;
}

.header{
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.header.recipe-page{
    flex-direction: column;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10%;
}

.page-link{
    text-decoration: none;
    color: gainsboro;
    background-color: #595959;
    font-size: 30px;
    border-radius: 30px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.description{
    display: flex;
    flex-direction: column;
    color: #595959;
    align-items: center;
}

.ingredients{
    display: flex;
    flex-direction: column;
    color: #595959;
    margin-left: 9%;
    margin-right: 9%;
}

.steps{
    display: flex;
    flex-direction: column;
    color: #595959;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 5%;
}

li{
    font-size: 20px;
}

p{
    font-size: 20px;
    text-align: center;
}

h2{
    font-size: 26px;
}

.index-link{
    text-align: center;
    text-decoration: none;
    color: gainsboro;
    background-color: #595959;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: 9%; 
}

.page-footer{
    height: 30px;
}